language: shell

services:
  - docker

before_install:
  - docker build -t threew82/nginx-upstream-limit .

deploy:
  script: 
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME"  --password-stdin 
